* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}

.app-title {
  padding-bottom: 30px;
}

.calendar {
  max-width: 640px;
  margin-top: 50px;
}

.calendar-header {
  padding-bottom: 10px;
  border-bottom: 1px solid $gray;
}

.calendar-control {
  width: 60px;
  border-radius: 3px;
  border: none;
  line-height: 30px;
  color: $white;
  background: $blue;
  cursor: pointer;
  &:hover {
    background: lighten($blue, 10);
  }
}

.calendar-title {
  width: calc(100% - 120px);
  line-height: 30px;
}

.day, .calendar-day-name {
  width: calc(100% /7);
  line-height: 30px;
  text-align: center;
}

.day {
  height: 44px;
  padding: 2px 3px;
  span {
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    &:hover {
      color: $white;
      background: lighten($blue, 40);
    }
    &.active {
      &:hover {
        background: lighten($yellow, 20);
        color: $blue;
      }
    }
    &.current-day {
      &:hover {
        background: lighten($blue, 10);
      }
    }
  }
}

.current-day {
  color: $white;
  background: $blue;
}

.active {
  color: blue;
  background: yellow;
}